language: python
python:
  - "3.7-dev"  # 3.7 development branch

install: 
         - pip install -r requirements.txt
         - pip install coverage
         
script:  
         - python test_rmw.py
         - coverage report -m

after_success: 
               - coveralls
       




     

