body {
    font-family: 'Times New Roman';
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
}


/* global */
.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:red 3px solid;

}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}
header ul{
    padding: 0;
    margin: 0;
     
}
header li{
    
    display: inline;
  
    padding: 0 20px 0 20px;
    
}
header #branding {
float: left;

}
header #branding h1{
    margin: 0;
    
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{

    color: red;
    font-weight: bold;
}

header a:hover{
    color: black;
    font-weight: bold;
}


.container2{
    float: left;
    margin-top: 38px;
    width: 320px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: 10px
}
.container2 input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 30px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 10px;

}

.container2 input[type="tel"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 30px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 10px;

}

.container2 input[type="time"]{
    border: none;
    border-bottom: 1px solid black;
    height: 19px;
    margin-left: 20px;
    width: 29%;

}

.container2 #ride{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 30px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 10px;

}

.container2 #date{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 20px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 10px;

}

.container2 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background:blueviolet;
    color: white;
    font-size: 16px;
}

.container2 input[type="submit"]:hover{
    cursor: pointer;
    background: red;
    color:white;
   }

.container2  p{
    margin: 0;
    padding-left: 20px;
    font-weight: bold; 
}

.container2 h2{
    margin-top: 5px;
    padding: 20px,0,20px;
    text-align: center;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
}
table{
    
    margin-top: 20px;
    margin-right: 40px;
    width: 500px;

}
footer{
    padding: 20px;
    margin-top: 800px;
    color:black;
    background-color: white;
    text-align: center;
    font-size: 20px;
}

.container3 #offeredRides{
    text-align: center;
    padding-top: 0px;
}
.container3 #ridesRequests{
    text-align: center;
    padding-top: 80px;
    
}
.container3{
    float: right;
    margin-top: 30px;
    width: 560px;
    height: auto;
    box-sizing: border-box;
    outline: 30px
}

td #accept{
    background: green;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

td #reject{
    margin-left: 10px;
    background: red;
    color: white;
    cursor: pointer;
}
