
footer{
    margin-top: 500px;
    color:black;
    background-color: white;
    text-align: center;
    font-size: 20px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* header */
header{
    background-color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:red 3px solid;

}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}
header ul{
    padding: 0;
    margin: 0;
     
}
header li{
    
    display: inline;
  
    padding: 0 20px 0 20px;
    
}
header #branding {
float: left;

}
header #branding h1{
    margin: 0;
    
}
header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: black;
    font-weight: bold;
}
#lo{
    text-align: center;

}


.loginbox{
    width: 340px;
    height: 350px;
    margin-top: 160px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid black;
}

.loginbox h3{
    margin-top: 5px;
    padding: 20px,0,20px;
    text-align: center;
    font-size: 22px;


}
.loginbox p{
    margin: 0;
    padding-left: 20px;
    font-weight: bold; 
}

.loginbox input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: white;
    outline: none;
    height: 40px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 20px;

}
.loginbox input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    background: white;
    outline: none;
    height: 40px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 20px;

}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    margin-bottom: 20px;
    background: blueviolet;
    color: white;
    font-size: 16px;
}

.loginbox input[type="submit"]:hover{
 cursor: pointer;
 background: red;
 color: white;
}

.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: green;
    margin-left: 20px;
}
.loginbox a:hover{
    color:red;
}
